video {}

.videoContainer {
    background: #000;
    text-align: center;
}

.controles {
    font-size: 30px;
}

.sugerencias {
    margin-top: 80px;
}

.sugerencias h3 {
    font-size: 20px;
}

.sugerencias h4 {
    font-size: 15px;
}



.progreso {
    display: block;
    width: 100%;
    background: #b1b1b1;
    height: 30px;
}

.barra {
    height: 30px;
    background: #FF0000;
    width: 0%;
    display: block;
}
.tiempo{
    font-size: 16px;
    text-align: right;
    display: inline; 
}