.navbar {
  background-color:  #5cb85c;
  border-color: #5cb85c;
      border-radius: 0px;

}
.navbar a{
  color:#fff;
}
.navbar a.active{
  background: red;
}

.navbar ul a:hover{
  color:green;
}


.navbar i{
  color: #ffe626;
text-shadow: none;
}
